<%- include("../partials/header") -%>
<%- include("../partials/admin") -%>

<div>
    <%if (typeof errors_sql !== "undefined") {%>
    <%errors_sql.forEach(error => {%>
        <p><%= error%></p>
    <%})%>
    <%} %>
</div>

<div class="container-fluid w-100 backend_container" id="section3">
    <h2>Créer une rubriques de dons</h2>


    <div id="newEvent_form" class="backend_form">

        <form action="/request/post_dons" method="POST" >
            <div>
                <p>
                    <input class="form-control backend_input" type="text" placeholder="Nom de la rubrique de 'Dons'" name="name" alt="Le nom de la rubrique de 'Dons'" maxlength="255" required>
                </p>

                <p>
                    <textarea class="form-control backend_input"  name="content"  placeholder="Contenu de l'article de la page 'Dons'" required></textarea>
                </p>

                <!--<p>
                    <input class="form-control backend_input" type="text" name="link"  placeholder="Lien vers la page web concernée" alt="Lien vers la page web concernée" maxlength="255" required>
                </p>-->

                <p><label for="poster" class="backend_label">Choisir l'image associée</label>
                    <input class="form-control backend_input" type="text" name="poster" placeholder="Image" required>
                </p>

                <p>
                    <input type="submit" class="btn btn-light btn-lg mb-3 mt-5 backend_button">
                </p>
            </div>


        </form>

    </div>

    <div>
        <h2>Rubriques de dons créées </h2>
        <div class='row d-flex justify-content-around align-items-stretch'>

    <%if(typeof dons !== "undefined" ) {%>
    <%dons.forEach(element_don => {%>
    <div class='backend_card col-lg-4'>
        <img class='card-img-top backend_img' src='/images/elements/<%=element_don.poster%>' alt='Image de la rubrique de dons'>

        <div class='card-body' >

            <div class='card-subtitle'>Nom :<%=element_don.name%></div>
            <div class='card-text'>Résumé pour accueil:<%=element_don.content%></div>

    <%if(typeof paiements !== "undefined" ) {%>
        <%paiements.forEach(element_paiement => {%>
            <%if(element_paiement.id_dons === element_don.id){%>
            <div class='backend_subcard backend_subcard_type1 paiement_<%=element_paiement.id%>'>
                <h2>Id paiement : <%=element_paiement.id%></h2>
                <div>Nom :" <%=element_paiement.method%>"</div>
                <div>Lien :"<%=element_paiement.link_paiement%>"</div>
                <a class='btn btn-danger btn-lg backend_button' href='/request/delete_paiement_don/<%=element_paiement.id%>'><button class='backend_button_reset'>Supprimer le lien de paiement</button></a>
            </div>
            <%}%>
        <%})%>
    <%}%>

            <div class=' row d-flex justify-content-around align-items-stretch'>
                <a class='btn btn-light btn-lg backend_button2' href='creer-un-paiement/paiement_don/<%=element_don.id%>'><button type='button' class='backend_button_reset'>Ajouter un moyen de donation</button></a>
            </div>

            <div class=' row d-flex justify-content-around align-items-stretch'>

                <a class='btn btn-light btn-lg backend_button2' href='gerer-la-page-dons/update/<%=element_don.id%>'>Modifier la rubrique de dons</a>
                <a class='btn btn-danger btn-lg backend_button2' href='/request/delete_dons/<%=element_don.id%>'>Supprimer la rubrique de dons</a>

            </div>
        </div>
    </div>

    <%})%>
    <%}%>



        </div>
    </div>


</div>

<%- include("../partials/footer") -%>



